apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090  # Quan trọng: Tên service trong docker-compose
    isDefault: true
    editable: false # Khóa không cho sửa bằng tay để tránh lỗi